body {
    background-color: gray;
    display: flex;
    flex-direction: column;   
    margin: 30px 100px;
 }
h1 {
    text-align: center;
    border-color: black;
    border-style: double;
    color: white;
    font-size: xx-large;
}

#enviar{
    margin: 8px 100px;
}

#borrar{
    margin: 8px 100px;
}

#datos{
    border: 3px solid black;
}